<h2 mat-dialog-title class="dialog-title">
    {{ isEditMode ? 'Edit User' : 'Add User' }}
</h2>

<mat-dialog-content class="dialog-content">

    <form [formGroup]="userForm" class="user-form">

        <!-- First Name -->
        <mat-form-field appearance="outline" class="form-field">

            <mat-label>First Name</mat-label>

            <input matInput formControlName="firstName" placeholder="Enter first name">

            <mat-error *ngIf="userForm.get('firstName')?.hasError('required')">
                First Name is required
            </mat-error>

            <mat-error *ngIf="userForm.get('firstName')?.hasError('minlength')">
                Minimum 2 characters required
            </mat-error>

        </mat-form-field>


        <!-- Last Name -->
        <mat-form-field appearance="outline" class="form-field">

            <mat-label>Last Name</mat-label>

            <input matInput formControlName="lastName" placeholder="Enter last name">

            <mat-error *ngIf="userForm.get('lastName')?.hasError('required')">
                Last Name is required
            </mat-error>

        </mat-form-field>


        <!-- Email -->
        <mat-form-field appearance="outline" class="form-field">

            <mat-label>Email</mat-label>

            <input matInput type="email" formControlName="email" placeholder="Enter email address">

            <mat-error *ngIf="userForm.get('email')?.hasError('required')">
                Email is required
            </mat-error>

            <mat-error *ngIf="userForm.get('email')?.hasError('email')">
                Enter a valid email
            </mat-error>

        </mat-form-field>


        <!-- Password -->
        <mat-form-field appearance="outline" class="form-field">

            <mat-label>Password</mat-label>

            <input matInput type="password" formControlName="password" placeholder="Enter password">

            <mat-error *ngIf="userForm.get('password')?.hasError('required')">
                Password is required
            </mat-error>

            <mat-error *ngIf="userForm.get('password')?.hasError('minlength')">
                Minimum 6 characters required
            </mat-error>

            <mat-error *ngIf="userForm.get('password')?.hasError('pattern')">
                It must contain a special char, a small case, a capital case and a number
            </mat-error>

        </mat-form-field>


        <!-- Department -->
        <mat-form-field appearance="outline" class="form-field">

            <mat-label>Department</mat-label>

            <mat-select formControlName="department">

                <mat-option value="IT">IT</mat-option>
                <mat-option value="HR">HR</mat-option>
                <mat-option value="Finance">Finance</mat-option>

            </mat-select>

            <mat-error *ngIf="userForm.get('department')?.hasError('required')">
                Department is required
            </mat-error>

        </mat-form-field>


        <!-- Role -->
        <mat-form-field appearance="outline" class="form-field">

            <mat-label>Role</mat-label>

            <mat-select formControlName="role">

                <mat-option value="employee">Employee</mat-option>
                <mat-option value="manager">Manager</mat-option>
                <mat-option value="admin">Admin</mat-option>

            </mat-select>

        </mat-form-field>


        <!-- Manager -->
        <mat-form-field appearance="outline" class="form-field manager-field"
            *ngIf="userForm.get('role')?.value === 'employee'">

            <mat-label>Manager</mat-label>

            <mat-select formControlName="managerId">

                <mat-option *ngFor="let manager of managers" [value]="manager._id">

                    {{ manager.firstName }} {{ manager.lastName }}

                </mat-option>

            </mat-select>

            <mat-error *ngIf="userForm.get('managerId')?.hasError('required')">
                Please select a manager
            </mat-error>

        </mat-form-field>

    </form>

</mat-dialog-content>


<mat-dialog-actions align="end" class="dialog-actions">

    <button mat-stroked-button mat-dialog-close class="cancel-btn">

        Cancel

    </button>

    <button mat-raised-button color="primary" class="save-btn" (click)="saveUser()" [disabled]="userForm.invalid">

        {{ isEditMode ? 'Edit User' : 'Add User' }}

    </button>

</mat-dialog-actions>