<div class="dashboard-panel">

    <div class="panel-header">

        <h3>

            System Overview

        </h3>

    </div>

    <div class="panel-body">

        <div class="overview-row">

            <div class="overview-left">

                <mat-icon>

                    group

                </mat-icon>

                <span>

                    Active Users

                </span>

            </div>

            <span class="overview-value">

                {{ system().users }}

            </span>

        </div>

        <div class="overview-row">

            <div class="overview-left">

                <mat-icon>

                    groups

                </mat-icon>

                <span>

                    Teams

                </span>

            </div>

            <span class="overview-value">

                {{ system().teams }}

            </span>

        </div>

        <div class="overview-row">

            <div class="overview-left">

                <mat-icon>

                    account_tree

                </mat-icon>

                <span>

                    Workflows

                </span>

            </div>

            <span class="overview-value">

                {{ system().workflows }}

            </span>

        </div>

    </div>

</div>