@for (request of requests(); track request._id) {

    <div class="request-row">

        <div class="request-left">

            <div class="request-icon">
                <mat-icon>description</mat-icon>
            </div>

            <div class="request-info">

                <h4>{{ request.title }}</h4>

                <span class="request-meta">
                    Created • {{ request.createdAt | date:'dd MMM yyyy' }}
                </span>

            </div>

        </div>

        <div class="request-right">

            <span
                class="status-badge"
                [ngClass]="getStatusClass(request.status)">

                {{ request.status }}

            </span>

        </div>

    </div>

}
