<div class="filters-container">
    @for(filter of filters(); track filter.key){

        <mat-form-field appearance="fill">

            <mat-label>
                {{ filter.label }}
            </mat-label>

            <mat-select [value]="selectedFilters[filter.key]"
                (selectionChange)="onChange(filter.key, $event.value)">

                @for(option of filter.options; track option.value){

                    <mat-option [value]="option.value">
                        {{ option.label }}
                    </mat-option>

                }

            </mat-select>

        </mat-form-field>

    }
</div>